@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #1e3936;
  --color-secondary: #dff9ba;
  --color-orange: #ff9100;
  --color-lgreen: #e9f5db;
  --color-muted: #7b7b7b;
  --color-dark: #15181a;
  --border-radius: 6px;
  --border-color: #dff9ba33;
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --font-secondary: "Libre Caslon Display", serif;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.font-secondary{font-family: var(--font-secondary);}

.btn-primary {
  background: var(--color-primary);
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border: 1px solid var(--color-primary);
  text-transform: uppercase;
  transition: 0.4s;
}
.btn-secondary {
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border: 1px solid var(--color-primary);
  text-transform: uppercase;
  transition: 0.4s;
}
.btn-primary:hover, .btn-secondary:hover {
  background: #fff;
  color: var(--color-primary);
}


/* STYLES */

h1, h2, h3 { font-family: var(--font-primary); }
body { font-family: var(--font-secondary); }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}
.logo-image {
  height: 100px;
  width: auto;
  display: block;
}
/* layout */
.container {
  margin: 0 auto;
  padding: 20px;
}
header.header {color: #fff;}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav{background: var(--color-primary);}
.header nav a {
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
}
header.header .menu a {font-size: 1rem;}
.header nav a:hover{color: var(--color-orange);}
header.header nav{position: initial;}
header.header nav.fixed{
  position: fixed;
  top: -2px;
}

.close-menu, .open-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {display: none;}
/**/

.dropdown-parent {position: relative;}
.submenu-dropdown {
  background-color: var(--color-secondary);
  min-width: 250px;
  display: none;
  border-radius: 4px;
}
.submenu-dropdown li a {
  color: var(--color-primary);
  font-size: 0.9rem;
  padding: 5px 15px;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  transition: 0.4s;
}
.submenu-dropdown li a:hover {
  background-color: var(--color-primary);
  color: #fff;
}



/* Homepage styles */
.bg-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.8;
  transition: 0.4s background-color ease;
}
.home-banner .btn-primary {margin-top: 15px;}
.home-banner-cont {z-index: 1;}
.banner-overlay {
    background-color: #000;
    opacity: 0.8;
}
.home-banner-pretitle {
  letter-spacing: 2px;
  font-size: 1.25rem;
  color: var(--color-orange);
}

.about-section .pre-title, .section-practice-areas .pre-title {
  color: var(--color-orange);
  letter-spacing: 2px;
  font-size: .875em;
}
.about-section .title {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-size: 2.5rem;
}
.about-section .content {color: var(--color-muted);}

.section-practice-areas{background-color: var(--color-primary);}
.section-practice-areas .pa-card {height: 194px;}
.section-practice-areas .title {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
}
.section-practice-areas .pa-card-title {
  font-size: 1.6rem;
  font-family: var(--font-secondary);
}
.section-practice-areas .pa-card-link {font-size: 15px;}


#footer-contact {padding: 50px 15px;}
.footer-contact .title {
  color: #fff;
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  line-height: 1.1;
}
.footer-contact .form-title {
  font-family: var(--font-secondary);
  font-size: 2rem;
  line-height: 1.1;
}

/* footer */
.footer {color: #fff;}
.footer-upper{background-color: var(--color-dark);}
.footer-bottom {background-color: var(--color-primary);}
.footer .nav-title {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
}
.footer-icon-cont {
  position: relative;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
}
.footer-icon-cont svg {
  z-index: 1;
  position: relative;
}
.footer-icon-cont svg path{
  fill: #fff;
  transition: 0.4s;
}
.footer-icon-cont::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-orange);
  border-radius: var(--border-radius);
  transform: rotate(45deg);
  z-index: 0;
}
.footer-contact-col a, .footer-quick-links-col a {transition: 0.4s;}
.footer-contact-col a:hover {color: var(--color-secondary);}
.footer-quick-links-col a:hover {color: var(--color-orange);}

.powered-by-tseg .tseg-logo {
  min-width: 60px;
  width: 60px;
}

/* homepage */
.page-title {
  color: var(--color-orange);
  margin-bottom: 20px;
}

.content p {
  line-height: 1.6;
}
.not-found-page {color: #000;}

/* Hero Section */
.hero {
  background: var(--color-primary);
  color: white;
  padding: 100px 0;
  text-align: center;
  border-radius: 0 0 40px 40px;
  margin-bottom: 50px;
}

.hero h1 {
  font-size: 3.5rem;
  max-width: 800px;
  margin: 0 auto 20px;
}

.inner-page p, .inner-page span {color: var(--color-muted);}

/* --- Desktop Styles (Hover) --- */
@media (min-width: 992px) {
  .dropdown-parent:hover .submenu-dropdown {
    z-index: 1000;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0px -4px 11px 4px #ffffff1a;
  }
  .dropdown-parent:hover .submenu-dropdown li {flex: 50%;}
  header nav .menu{display: flex;}
  .header nav .header-menu-sidecollapse .dropdown-parent .flex{gap: 10px;}
}
@media (max-width: 991px) {
  .header nav .header-menu-sidecollapse {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 73%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color-primary);;
    color: #fff;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    font-size: 24px;
    padding: 70px 15px 0;
  }
  .close-menu, .open-menu {display: block;}
  .close-menu svg {width: 25px;}
  #check:checked ~ .menu {right: -1px;}
  .header nav .open-menu svg {width: 25px;}
  .header nav .open-menu svg path{fill:#fff;}



 

  .dropdown-parent input[type="checkbox"]:checked ~ .submenu-dropdown {
    display: block;
    padding-left: 20px;
    width: 100%;
  }
  .dropdown-parent input[type="checkbox"]:checked ~ .submenu-dropdown li a {color: var(--color-primary); }
  /* Rotate the chevron when checked */
  .dropdown-parent input[type="checkbox"]:checked ~ .flex .chevron-icon svg {transform: rotate(180deg);}


  .submenu-dropdown {
    position: static;
    box-shadow: none;
  }
  .header nav .header-menu-sidecollapse .chevron-icon svg {
    width: 25px;
    height: 25px;
  }
  .header nav .header-menu-sidecollapse .dropdown-parent .flex {justify-content: space-between;}
  .header nav .menu.header-menu-sidecollapse > li {padding-left: 0;}
  .header nav .menu.header-menu-sidecollapse > li a {
    font-size: 1rem;
    line-height: 1.2;
    padding: 5px 0;
  }
  .header nav .menu.header-menu-sidecollapse > li.dropdown-parent {padding: 3.41px 0;}
  .footer-upper {padding-top: 40px;}
  .home-banner-title {font-size: calc(1.525rem + 3.3vw);}
  .home-banner-cont{padding: 0 15px;}
}

/* Inner pages */
.banner-main {
  min-height: 269px;
  padding-top: 60px;
}
.banner-main .container {
  z-index: 1;
}
.banner-title {
  font-size: 2.5rem;
}
.inner-page-content *, .inner-page-content p a:hover, .inner-page-content ul > li > a:hover {color: var(--color-primary);}
.inner-page-content p a, .inner-page-content ul > li > a{
  color: var(--color-orange);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.4s;
}
.inner-page-content ul {
  padding-left: 2rem;
  margin: 0;
}
.inner-page-content ul li:before {
  content: "\25BA";
  color: var(--color-orange);
  font-size: 0.8em;
  margin-right: 8px;
  margin-top: 0.25em;
  flex-shrink: 0;
}
.sidebar-form .sidebar-form-title{color: #fff;}


